img {
  height: 150px;
  width: auto;
}
.container {
  margin-top: 30px;
  margin-left: 300px;
}
input {
  min-width: 400px;
  min-height: 70px;
  border: 3px solid rgb(0, 255, 115);
  border-radius: 10px;
  font-size: 30px;
}
ul {
  padding: 0;
}

.pnotify-text.brighttheme-text.pnotify-text-with-max-height {
  height: 20px;
}
